apiVersion: v1
kind: Secret
metadata:
  name: komga-meta-manager-secrets
  namespace: komga-meta-manager
type: Opaque
stringData:
  komga-api-key: "REPLACE_ME"
  # Remove this entry when Google Translate is used.
  deepl-api-key: "REPLACE_ME"
